
:root {
    --main-text-colour: white;
    --heading-colour: #c7c7ff;
    --link-colour: #00abff;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-text-colour);
    padding-top: 10px;
}

a,
a:visited {
    text-decoration: none;
    color: var(--link-colour);
}

a:hover {
    text-decoration: underline;
}

.background-container {
    position: fixed;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    display: flex;
    z-index: -1;
    perspective: 150px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    background-color: #0b2f6d;

    justify-content: center;
    align-items: center;
}

.background-circle {
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    width: 10vw;
    height: 10vw;
    animation: background-circle-move infinite 10s linear alternate-reverse;
}

.background-circle:nth-child(1) { animation-delay: -1s; animation-duration: 10s; }
.background-circle:nth-child(2) { animation-delay: -2s; animation-duration: 17s; animation-name: background-circle-move-large; }
.background-circle:nth-child(3) { animation-delay: -3s; animation-duration: 7s; }
.background-circle:nth-child(4) { animation-delay: -4s; animation-duration: 9s; }
.background-circle:nth-child(5) { animation-delay: -5s; animation-duration: 11s; }
.background-circle:nth-child(6) { animation-delay: -6s; animation-duration: 15s; animation-name: background-circle-move-large; }
.background-circle:nth-child(7) { animation-delay: -7s; animation-duration: 10s; }
.background-circle:nth-child(8) { animation-delay: -8s; animation-duration: 16s; animation-name: background-circle-move-large; }
.background-circle:nth-child(9) { animation-delay: -9s; animation-duration: 8s; }

@keyframes background-circle-move {
    0%   { transform: translateY(-50vh); opacity: 0; }
    50%  { transform: translateY(0vh);   opacity: 0.1; }
    100% { transform: translateY(50vh);  opacity: 0; }
}
@keyframes background-circle-move-large {
    0%   { transform: scale(1.5) translateY(-45vh); opacity: 0; }
    50%  { transform: scale(1.5) translateY(0vh);   opacity: 0.1; }
    100% { transform: scale(1.5) translateY(45vh);  opacity: 0; }
}

.loader {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-loading-container {
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation: glow alternate infinite 1.5s linear;
}

.main-container {
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: main-move 2s ease-in-out forwards;
}

.main-container:before {
    content: '';
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0 0 140px 40px white;
    animation: glow alternate infinite 8s ease-in-out;
    opacity: 0;
    animation-delay: 5s;
}

.loader .main-container:before {
    display: none;
}

@keyframes main-move {
    0%   { opacity: 0; transform: translateY(-50vh); }
    70%  { transform: translateY(10vh); }
    85%  { transform: translateY(-5vh); }
    99%  { transform: translateY(0); }
    100% { opacity: 1; transform: none; }
}

@keyframes glow {
    0%   { opacity: 0; }
    70%  { opacity: 0.3; }
    100% { opacity: 1;   }
}

.main-banner {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 20px 50px;
}

.heading {
    font-size: 40px;
    line-height: 40px;
    color: var(--heading-colour);
}

.sub-heading {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
}

.instructions-placeholder {
    height: 67px;
}

.instructions-container {
    font-size: 20px;
    font-weight: 100;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions {
    margin-top: 20px;
}

.chevron {
    margin: 0 auto;
    display: block;
    animation: pulse 2s infinite;
    color: var(--heading-colour);
}

.chevron:before {
    top: 0;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    transform: rotate(135deg);
    vertical-align: top;
    width: 20px;
}

@keyframes pulse {
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(0, 10px); }
    100% { transform: translate(0, 0); }
}

.project-container {
    display: flex;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    max-width: 1000px;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 1000ms;
}

@media(max-width: 800px) {
    .project-container {
        flex-direction: column-reverse;
    }

    .project-container .project-screenshot {
        flex: 0 0 300px;
    }
}

.scroll-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-step.active .project-container {
    opacity: 1;
    transform: scale(1);
}

.project-screenshot {
    flex: 0 0 400px;
    background-color: rgba(22, 22, 22, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease;
    opacity: 0.8;
}

.scroll-step.active .project-screenshot {
    opacity: 1;
}

.screenshot--togglefish {
    background-image: url(3f57cc372dc8134fdcda45f95c4a179f.gif);
}

.scroll-step.active .screenshot--togglefish {
    background-image: url(3ec7d38caede41acda6bd2c710eb3928.gif);
}

/* preload togglefish-screencast.gif used on hover*/
.screenshot--togglefish:before {
    content: '';
    background-image: url(3ec7d38caede41acda6bd2c710eb3928.gif);
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--make-em-green {
    background-image: url(c297f1fa5748c2e7b8eacd6b1353336e.gif);
}

.scroll-step.active .screenshot--make-em-green {
    background-image: url(9093ee3094cf28adbed4006df4fd80ed.gif);
}

/* preload make-em-green-screencast.gif used on hover*/
.screenshot--make-em-green:before {
    content: '';
    background-image: url(9093ee3094cf28adbed4006df4fd80ed.gif);
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--bf-viz {
    background-image: url(ca84b3b610a56b3efc24ebcf74e0feeb.gif);
}

.scroll-step.active .screenshot--bf-viz {
    background-image: url(ba6cd6a8b6d5ac6a0324789a3b41a5eb.gif);
}

/* preload bf-viz-screencast.gif used on hover*/
.screenshot--bf-viz:before {
    content: '';
    background-image: url(ba6cd6a8b6d5ac6a0324789a3b41a5eb.gif);
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--crafty-racer {
    background-image: url(345e37593a909c9cd8995b5ea50b4dc9.gif);
}

.scroll-step.active .screenshot--crafty-racer {
    background-image: url(46d8e70feb534fc92f61a3ed5303e32d.gif);
}

/* preload crafty-racer-screencast.gif used on hover*/
.screenshot--crafty-racer:before {
    content: '';
    background-image: url(46d8e70feb534fc92f61a3ed5303e32d.gif);
    width: 0;
    height: 0;
    visibility: hidden;
}

.project-details {
    flex: 1;
}

.project-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.project-title {
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    color: var(--heading-colour);
}

.project-link {
    width: 34px;
    height: 34px;
    background-image: url(39516e632fd6e589444e0ac85fea5be9.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: -8px;
    background-position-y: -8px;
}

.project-details-item {
    margin-bottom: 10px
}

.project-details-item-label {
    display: inline-block;
    font-weight: 800;
}

.project-details-item-content {
    display: inline-block;
    margin-top: 5px;
}

.warning-message {
    color: var(--main-text-colour);
    background: rgba(167, 15, 15, 0.8);
    padding: 4px 6px;
}body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .ops-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/