
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #111111;
    background-image: url(assets/hexagons.svg);
    padding-top: 10px;
}

a,
a:visited {
    text-decoration: none;
    color: #2061e0;
}

a:hover {
    text-decoration: underline;
}

.main-banner {
    font-size: 40px;
    line-height: 40px;
    color: white;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 20px;
    border: 3px solid black;
}

.project-container {
    display: flex;
    padding: 20px;
    margin: 20px auto;
    background-color: #F5F5F5;
    max-width: 1000px;
    border: 3px solid black;
    transition: transform 300ms;
}

@media(max-width: 800px) {
    .project-container {
        flex-direction: column-reverse;
    }

    .project-container .project-screenshot {
        flex: 0 0 300px;
    }
}

.project-container:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}

.project-screenshot {
    flex: 0 0 400px;
    background-color: rgba(22, 22, 22, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease;
    opacity: 0.8;
}

.play-icon {
    background-image: url(assets/play-circle-o.svg);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.project-container:hover .project-screenshot {
    opacity: 1;
}

.project-container:hover .play-icon {
    display: none;
}

.screenshot--togglefish {
    background-image: url('assets/togglefish-screencast-frame.gif');
}

.project-container:hover .screenshot--togglefish {
    background-image: url('assets/togglefish-screencast.gif');
}

/* preload togglefish-screencast.gif used on hover*/
.screenshot--togglefish:before {
    content: '';
    background-image: url('assets/togglefish-screencast.gif');
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--make-em-green {
    background-image: url('assets/make-em-green-screencast-frame.gif');
}

.project-container:hover .screenshot--make-em-green {
    background-image: url('assets/make-em-green-screencast.gif');
}

/* preload make-em-green-screencast.gif used on hover*/
.screenshot--make-em-green:before {
    content: '';
    background-image: url('assets/make-em-green-screencast.gif');
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--bf-viz {
    background-image: url('assets/bf-viz-screencast-frame.gif');
}

.project-container:hover .screenshot--bf-viz {
    background-image: url('assets/bf-viz-screencast.gif');
}

/* preload bf-viz-screencast.gif used on hover*/
.screenshot--bf-viz:before {
    content: '';
    background-image: url('assets/bf-viz-screencast.gif');
    width: 0;
    height: 0;
    visibility: hidden;
}

.screenshot--crafty-racer {
    background-image: url('assets/crafty-racer-screencast-frame.gif');
}

.project-container:hover .screenshot--crafty-racer {
    background-image: url('assets/crafty-racer-screencast.gif');
}

/* preload crafty-racer-screencast.gif used on hover*/
.screenshot--crafty-racer:before {
    content: '';
    background-image: url('assets/crafty-racer-screencast.gif');
    width: 0;
    height: 0;
    visibility: hidden;
}

.project-details {
    flex: 1;
}

.project-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px
}

.project-title {
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    color: #191970;
}

.project-link {
    opacity: 0;
    transition: opacity 300ms ease;

    font-size: 20px;
    line-height: 20px;
    background-color: rgba(24, 24, 24, 0.1);
    padding: 6px;
}

.project-container:hover .project-link {
    opacity: 1;
}

.project-details-item {
    margin-bottom: 10px
}

.project-details-item-label {
    display: inline-block;
    font-weight: 800;
}

.project-details-item-content {
    display: inline-block;
    margin-top: 5px;
}

.warning-message {
    color: white;
    background: rgba(167, 15, 15, 0.8);
    padding: 4px 6px;
}