html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Crafty Girls';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/CraftyGirls-Regular.ttf') format('truetype');
}

:root {
	--main-text-colour: white;
	--heading-colour: black;
	--link-colour: #200dd4;
	--content-text-colour: #eeeeee;
	--background-colour: #008fe3;
	--background-colour2: #59bbf3;
}

body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: var(--main-text-colour);
}

a,
a:visited {
	color: var(--link-colour);
}

a:hover {
	text-decoration: underline;
}

.main {
	height: 100vh;
}

