:root {
	--main-text-colour: #040337;
	--link-colour: #000499;
	--background-colour: #008fe3;
	--banner-background-colour: #008dca;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

body {
	background-color: var(--background-colour);
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Crafty Girls';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/CraftyGirls-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-size: 22px;
	line-height: 28px;
	color: var(--main-text-colour);
}

a,
a:visited {
	color: var(--link-colour);
}

a:hover {
	text-decoration: underline;
}

.main {
	height: 100%;
	overflow-y: auto;
}

