.bannerWrapper {
	height: 120px;
	position: sticky;
	top: -50px; /* Equal to the height difference between banner-wrapper and banner */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--banner-background-colour);
	z-index: 1;
	box-shadow: 0 5px 5px -5px #333;
	cursor: pointer;
	user-select: none;
}

.banner {
	height: 70px;
	position: sticky;
	top: 0;
	text-align: center;
	color: white;
}

.heading {
	font-size: 36px;
	line-height: 36px;
	font-family: 'Permanent Marker', sans-serif;
}

.subHeading {
	margin-top: 10px;
	font-size: 17px;
	line-height: 17px;
	font-family: 'Crafty Girls', sans-serif;
}
